<div class="row">
  <div class="span12">
    <h1 class="title">{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  </div>
</div>

<div class="row about">
  <div class="span6">
    {{ content }}
  </div>
  <div class="span6">
    <div class="refer">
      <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2557402043&verifier=051f86b7&dpc=1"></iframe>
    </div>
  </div>
</div>
