<div class="page-header">
  <h1>{{ page.title }} <small>caijinlin's blog</small></h1>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    <!-- {% include JB/comments %} -->
    <!-- Duoshuo Comment BEGIN -->
   </div>
</div>
<div class="span12">
    <div class="span8">
         <div class="bottom" style="">
	    <span class="glyphicon glyphicon-calendar"></span><b>Date</b>:{{ latest_post.date | date_to_string }}
		<span class="glyphicon glyphicon-folder-open"></span> <b>Category</b>:{% if latest_post.categories %}{% for category in latest_post.categories %}<a href="/categories.html#{{ category }}-ref" title="{{ category }}">&nbsp;{{ category }}</a>{% endfor %}{% endif %}
		<span class="glyphicon glyphicon-tags"></span> <b>Tags</b>:{% if latest_post.tags %}{% for tag in latest_post.tags %}<a href="/tags.html#{{ tag }}-ref" title="{{ tag }}">&nbsp;{{ tag }}</a>{% endfor %}{% endif %}
      </div>
   </div>
    <div class="span4">
          <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    </div>
    </div>
<div class="row">
  <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"cjl"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->
  </div>
